// FontSizes
.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl {
   font-family: var(--title-font);
   font-weight: 600;
}
@media (width <= 1024px) {
   * {
      --text-7xl: 5rem;
      --text-6xl: 4rem;
      --text-5xl: 3rem;
      --text-4xl: 2.5rem;
      --text-3xl: 2rem;
      --text-2xl: 1.75rem;
      --text-xl: 1.5rem;
      --text-lg: 1.2rem;
   }
}
@media (width <= 767px) {
   * {
      --text-7xl: 4rem;
      --text-6xl: 3rem;
      --text-5xl: 2.5rem;
      --text-4xl: 2rem;
      --text-3xl: 1.75rem;
      --text-2xl: 1.6rem;
      --text-xl: 1.3rem;
      --text-lg: 1.2rem;
   }
}
.text-font {
   font-family: var(--text-font);
}

.wrapper {
   max-width: 1280px;
   padding-inline: 5vw;
   margin-inline: auto;
   &-small {
      max-width: 800px;
      padding-inline: 5vw;
      margin-inline: auto;
   }
}
.title-font {
   font-family: var(--title-font);
}
.sur-mesure {
   font-size: clamp(30px, 15px + 5vw, 100px);
   font-family: var(--title-font);
}
.home-hero-lead {
   font-size: clamp(50px, 16vw, 160px);
   font-family: var(--title-font);
}
.hero-lead {
   font-size: clamp(50px, 14vw, 140px);
   font-family: var(--title-font);
}
.big-text {
   font-size: clamp(40px, 10px + 7vw, 80px);
   font-family: var(--title-font);
   line-height: 0.9;
}
.offres-intro strong {
   color: white;
}

@media (width <= 1024px) {
   .wrapper,
   .wrapper-small {
      padding-inline: 3vw;
   }
}
@media (width <= 767px) {
   .wrapper,
   .wrapper-small {
      padding-inline: 20px;
   }
}
@media (width <= 540px) {
   .hero-lead {
      font-size: 45px;
   }
}

::view-transition-old(root),
::view-transition-new(root) {
   animation: none !important;
}

::view-transition-group(root) {
   z-index: auto !important;
}

::view-transition-image-pair(root) {
   isolation: isolate;
   will-change: transform, opacity, clip-path;
   z-index: 1;
}

::view-transition-new(root) {
   z-index: 10000;
   animation: none !important;
}

::view-transition-old(root) {
   z-index: 1;
   animation: none !important;
}

.split-text p {
   margin-block: 1rem 0.5rem;
}

.markdown {
   a {
      color: oklch(55.6% 0 0);
      transition: 0.3s;
      font-weight: 500;
      &:hover {
         color: var(--primary);
      }
   }
   p {
      margin-block: 1rem 0.5rem;
   }
   h2 {
      font-size: var(--text-2xl);
      font-family: var(--title-font);
      font-weight: 800;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      line-height: 1.1;
   }
   h3 {
      font-family: var(--title-font);
      font-size: var(--text-xl);
      font-weight: 600;
      margin-top: 1.75rem;
      margin-bottom: 1.25rem;
      line-height: 1.1;
   }
   h4 {
      font-family: var(--title-font);
      font-size: var(--text-lg);
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 0.75rem;
      line-height: 1.1;
   }
   ul {
      padding-left: 1.5rem;
      margin-bottom: 1rem;
      list-style-type: disc;
      line-height: 1.6;
   }

   li {
      margin-bottom: 0.5rem;
   }
}

.vanish-paragraphs {
   p {
      margin-block: 1rem 0.5rem;
   }
}

.burger-menu {
   line {
      stroke: var(--primary);
      stroke-dasharray: 100%;
      stroke-dashoffset: 0%;
      transition:
         transform 0.35s cubic-bezier(0.68, -0.4, 0.32, 1.4),
         stroke-dashoffset 0.35s cubic-bezier(0.68, -0.4, 0.32, 1.4);
      transform-origin: center;
      stroke-width: 2px;
   }

   .top {
      transform: translateY(-35%);
   }

   .middle {
      transform: scaleX(1);
      transition:
         opacity 0.35s cubic-bezier(0.68, -0.4, 0.32, 1.4),
         transform 0.35s cubic-bezier(0.68, -0.4, 0.32, 1.4);
   }

   .bottom {
      transform: translateY(33%);
      stroke-dasharray: 100%;
      stroke-dashoffset: 9px;
   }

   &:hover .bottom {
      stroke-dashoffset: 0%;
      transition: stroke-dashoffset 0.35s cubic-bezier(0.68, -0.4, 0.32, 1.4);
   }

   &-open {
      .top {
         transform: rotate(45deg);
         stroke-linecap: round;
      }
      .middle {
         transform: scaleX(0.1);
         opacity: 0;
      }
      .bottom {
         transform: rotate(-45deg);
         stroke-linecap: round;
         stroke-dashoffset: 0%;
      }
   }
}

// .col p .line {
// 	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
// }

// .col p .line span {
// 	position: relative;
// 	will-change: transform;
// }
